---
import BannerSection from "@/components/organisms/sections/BannerSection.astro";
import ContactSection from "@/components/organisms/sections/ContactSection.astro";
import ScheduleConsultationSection from "@/components/organisms/sections/ScheduleConsultationSection.astro";
import Root from "@/layouts/Root.astro";
---

<Root title="Contacto" description="Contáctame">
  <BannerSection>
    <div class="grid gap-5">
      <h1 class="title text-center">Contact me</h1>
    </div>
  </BannerSection>
  <ContactSection />
  <ScheduleConsultationSection />
</Root>
