<div class="absolute inset-0 -z-10 h-full w-full bg-base-100">
  <div
    class="absolute inset-0 -z-10 h-full w-full bg-base-100 bg-[linear-gradient(to_right,theme(colors.neutral/5%)_1px,transparent_1px),linear-gradient(to_bottom,theme(colors.neutral/5%)_1px,transparent_1px)] bg-[size:3rem_3rem]"
  >
  </div>
</div>
