@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    @apply font-sans selection:bg-accent overflow-x-hidden;
    scroll-behavior: smooth;
  }

  body {
    @apply overflow-hidden;
  }

  .section {
    @apply py-20;
  }

  .title {
    @apply text-4xl leading-snug font-bold uppercase;
  }

  .subtitle {
    @apply text-2xl font-semibold uppercase;
  }

  .text-body-color {
    @apply text-base-content/70;
  }

  .form-control {
    @apply space-y-1.5 relative;
  }

  .form-error-label {
    @apply ml-4;
    font-size: theme("fontSize.sm");
    color: theme("colors.error") !important;
  }

  .form-success-label {
    @apply ml-4;
    font-size: theme("fontSize.sm");
    color: theme("colors.success") !important;
  }
}