---
import GridPatternBackground from "@/components/molecules/backgrounds/GridPatternBackground.astro";
import Layout from "@/layouts/Layout.astro";
---

<section class="relative section">
  <Layout>
    <slot />
  </Layout>
  <GridPatternBackground />
</section>
