---
import CtaCard from "@/components/molecules/cards/CtaCard.astro";
import Profile from "@/components/molecules/common/Profile.astro";
import { ctaLinks } from "@/lib/consts";
---

<div class="grid gap-16" data-profile>
  <Profile />
  <div class="grid lg:grid-cols-3 gap-8">
    {ctaLinks && ctaLinks.map((cta) => <CtaCard data={cta} data-cta-card />)}
  </div>
</div>

<script>
  import { fadeUpOnce, fadeUp } from "@/lib/animations";

  document.addEventListener("astro:page-load", () => {
    fadeUpOnce("[data-profile]", 30, 0.3, 1);
    fadeUp("[data-cta-card]");
  });
</script>
