<div
  class="bg-base-100/80 text-center px-4 py-8 md:p-20 backdrop-blur-md z-10 relative w-full grid place-content-center rounded-3xl shadow-lg"
>
  <div class="max-w-2xl">
    <h3 class="text-3xl md:text-4xl font-bold mb-2">Free 30min consultation</h3>
    <p class="mb-10 text-body-color">
      Have a new project in mind? Schedule a 30-minute discovery call or fill out the quick form, and together we'll
      explore the possibilities.
    </p>
    <button
      class="btn btn-primary"
      onclick="Calendly.initPopupWidget({url: 'https://calendly.com/joelangelocano/30min'});return false;"
      >Schedule a quick call
    </button>
  </div>
</div>

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<!-- Calendly link widget end -->
