---
import { Icon } from "astro-icon/components";

type Props = {
  class?: string;
};

const { class: className = "" } = Astro.props;
---

<a aria-label="Ir al inicio" href="/">
  <Icon name="logo" class:list={["w-10 h-10 logo", className]} />
</a>

<style>
  .logo {
    rect {
      @apply fill-primary;
    }
    path {
      @apply fill-base-content;
    }
  }
</style>
