---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  ariaLabel: string;
};

const { href, class: className, ariaLabel, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  aria-label={ariaLabel}
  class:list={[
    className,
    { "bg-base-100 text-base-content": isActive },
    "btn btn-ghost hover:text-base-content hover:bg-base-100",
  ]}
  {...props}
>
  <slot />
</a>
