---
import { Icon } from "astro-icon/components";
import type { CtaItemType } from "@/lib/types";

type Props = {
  data: CtaItemType;
};

const { data } = Astro.props;
---

<a
  href={data.href}
  class="px-5 btn h-fit text-start transition-all duration-400 ease-in-out hover:lg:-translate-y-4 grid grid-cols-[auto_1fr_auto] gap-4 items-center py-4 border-neutral/20 border rounded-lg w-full"
>
  <div>
    <Icon class="text-xl" name={data.icon} />
  </div>
  <div class="grid gap-0.5">
    <h2 class="text-xl font-semibold">{data.title}</h2>
    <p class="font-normal text-base text-body-color">{data.text}</p>
  </div>
  <div>
    <Icon class="text-xl" name="angle-right" />
  </div>
</a>
