---
import { Image } from "astro:assets";
import ImageTest from "@/assets/images/service-image-test.avif";
---

<div class="grid gap-8 p-5 md:p-7 bg-base-100 rounded-3xl">
  <picture>
    <Image
      class="aspect-video w-full rounded-2xl"
      src={ImageTest}
      alt="Service image"
    />
  </picture>
  <div class="grid gap-3">
    <div class="badge badge-neutral">
      <p>Construction Company</p>
    </div>
    <div class="grid gap-1.5">
      <h6 class="text-3xl">Moovin</h6>
      <p>April 2023</p>
    </div>
    <p class="font-normal">
      Soft color schemes ensure a visually pleasing experience, aiming to keep
      users engaged and at ease while navigating this site, in hopes that all
      the information we wish to convey is easily absorbed by the user
    </p>
  </div>
</div>
